@media (max-width: 700px) {
	.section-title {
		font-size: 2.7rem;
	}
	.main-info__text {
		margin: 0;
		font-size: 1.7rem;
	}
	.main-info__logo {
		width: 17rem;
	}
	.service {
		padding: 1rem;
	}
	.service__body {
		grid-template-columns: auto;
	}
	.service__item {
		width: 300px;
		height: auto;
		margin: 0 0 2rem 0;
	}
	.service__icon > img {
		width: 3.5rem;
	}
	.service__icon > .service__icon_man {
		width: 4rem;
	}
	.partners__body {
		flex-direction: column;
		justify-content: space-between;
	}
	.partners__img:hover {
		width: 24rem;
	}
	.clients__item {
		width: 33rem;
		height: 20rem;
	}
	.feedback {
		padding-bottom: 4rem;
	}
}
@media (max-width: 600px) {
	.header__logo {
		width: 12rem;
	}
	.clients__item {
		width: 25rem;
		height: 15rem;
	}
	.main-info__text {
		width: 90%;
	}
	.header {
		margin-bottom: 1rem;
	}
	.footer__copyright {
		font-size: 1rem;
	}
}
@media (max-width: 460px) {
	.header__logo {
		width: 10rem;
	}
	.section-title {
		font-size: 1.8rem;
	}
	.main-info__text {
		font-size: 1.3rem;
	}
	.main-info__logo {
		width: 15rem;
	}
	.partners__body {
		justify-content: space-around;
	}
	.partners__img {
		width: 14rem;
	}
	.partners__img:hover {
		width: 18rem;
	}
	.clients__item {
		width: 18rem;
		height: 12rem;
	}
	.feedback__input {
		padding: 0.8rem;
		font-size: 1rem;
		width: 80vw;
	}
	.footer__copyright {
		font-size: 0.8rem;
	}
}
