* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .text-wrapper {
        font-size: 1.5rem;
    }
   
}
@media (max-width: 600px) {
    .text-wrapper {
        font-size: 1.1rem;
    }
}
