* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    height: auto;
    position: relative;
    margin: auto;
    background: #ccc;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text-wrapper {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}
.text-wrapper > .text {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: auto;
    /* max-width: 52%; */
    padding: 0.6rem 1rem;
    background-color: rgba(37, 124, 255, 0.5);
    color: #fff;
    border-radius: 0.2rem;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .text-wrapper {
        font-size: 1.5rem;
    }
   
}
@media (max-width: 600px) {
    .text-wrapper {
        font-size: 1.1rem;
    }
}
